.page {
    margin: 10rem 0;
}

.sunny-morning-gradient, .peach-gradient {
    background-image: linear-gradient(120deg, #c68a59 0 ,#473120 100%);
    background: linear-gradient(40deg, #c68a59, #473120) !important;
}

.home-button {
    text-align: end;
}

.btn-brown {
    background-color: #885f3d !important;
}

.brown-text {
    color: #885f3d !important;
}

.parallax-title {
    background: url('../images/content/lakeside.jpg') no-repeat scroll center 0;
    background-size: cover;
    background-attachment: fixed;
    height: 768px;
}

.parallax-content-1 {
    background: url('../images/content/mountains_dark.jpg') no-repeat scroll center 0;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
}

.parallax-content-2 {
    background: url('../images/content/deer_winter.jpg') no-repeat scroll center 0;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
}

@media screen and (min-height: 800px) {
    .parallax-title {
        height: 900px;
    }

    .parallax-content-1, .parallax-content-2 {
        height: 400px;
    }
}

@media screen and (min-height: 1000px) {
    .parallax-title {
        height: 1080px;
    }

    .parallax-content-1, .parallax-content-2 {
        height: 500px;
    }
}

@media screen and (min-height: 1440px) {
    .parallax-title {
        height: 1440px;
    }

    .parallax-content-1, .parallax-content-2 {
        height: 500px;
    }
}