{% extends 'navbar_frontend.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <section class="page">
            <h1 class="text-center">La page recherchée n'existe pas !</h1>
        </section>
    </div>
{% endblock %}