{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark sunny-morning-gradient fixed-top scrolling-navbar">
            <a class="navbar-brand font-weight-bold" href="{{ path('admin_dashboard') }}"><i class="fas fa-columns"></i> Tableau de bord</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-globe-europe"></i> Voir le site</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}